.header {
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 6;
}

.header__title {
  margin: 0;
  padding: 0 0 0 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  z-index: 5;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  bottom: 30px;
  left: 64px;
  z-index: 5;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.header__link:hover {
  opacity: 0.5;
}

.header__main-illustration {
  object-fit: cover;
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 2;
}
